body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* ----------------
        header
    ---------------- */
    header{
        background: rgba(255, 144, 14, 0.1);
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}
.brand-name{
    font-weight: 700;
font-size: 35px;
color: #131313;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 80px;
    font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: center;

color: #424242;

}
/* ---------------
    top-banner
-------------------- */
.top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    text-align: center;
    
}
.banner-tittle{
    width: 870px;
}
.banner-tittle h1{
    font-weight: 700;
font-size: 64px;
color: #131313;
margin-bottom: 10px;
}
.explore-button{
    margin-top: 30px;
    padding: 20px 40px;
    background: #FF900E;
border-radius: 8px;
border: none;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;

}
.banner-image img{
    margin: 50px 0;
}
/* -----------------------
    feature-section
   -------------------------  */
   .feature-section{
    margin: 90px 200px 130px 200px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    
   }
   .feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
   }
   .feature-details h1{
    font-weight: 500;
font-size: 45px;
line-height: 53px;
color: #727272;
}
#our{
    color: #131313;
    font-weight: 700;
}
#feature-color{
    font-weight: 700;
    color: #FF900E;
}
.feature-details p{
    font-weight: 400;
font-size: 16px;
color: #727272;
}
/* ----------------------------
    feature-section-two
------------------------------- */
 .feature-section-two{
    margin: 0 140px 130px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}
.section-two-text{
    width: 590px;
}
.section-two-tittle{
    display: flex;
    align-items: center;
    gap: 24px;
    
}
.border{
    width: 5px;
height: 106px;
background: #FF900E;
}
.section-two-tittle-text{
font-weight: 700;
font-size: 35px;
color: #131313;}
.rest-of-text{
    padding: 15px;
}
.section-two-image{
border-radius: 8px;
display: flex;
justify-content: flex-end;
flex-direction: column;

}
.experience-button{
    border: none;
    padding: 20px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 25px;
    position: relative;
    bottom: 70px;
    right: 50px;
}
#ten-years{
    font-size: 65px;
text-align: center;
color: #FFFFFF;
margin-bottom: 60px;

}
/* -- -----------------------
        fact-section
-------------------------*/
.fact-section{
    margin:80px 140px;
}
.fact-section-text{
    width: 600px;
}
.fact-section-text h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.fact-section-text p{
    font-weight: 400;
font-size: 16px;
color: #727272;
}
.facts-scenario{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fact-scenario{
    border: 3px solid #FF900E;
    border-radius: 8px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: scale 0.5s linear;
}
.fact-scenario:hover{
    scale: 1.2;
    
}
/* sponsor-section */
.sponsor-section{
    margin: 50px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    text-align: center;
}

.sponsor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.sponsor img{
    filter: grayscale(100%);
}
/* send-message */
.send-message{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 0 400px;
    border-radius: 8px;
    background-color: antiquewhite;
    margin-bottom: 130px;
}
.send-message h1{
font-size: 25px;
text-align: center;
color: #131313;
}
.send-message p{
    font-size: 20px;
    color: #727272;
}
input{
    border: none;
    padding: 20px;
    border: 10px;
    width: 400px;
    outline: none;
}
textarea{
    border: none;
    padding: 20px;
    outline: none;
    width: 400px;
    resize: none;
}
footer{
    margin: 20px 140px;
    background-color: antiquewhite;
    padding: 10px 40px;
    text-align: center;
    font-weight: 500;
}

/* ---------------
    media-query
---------------------     */
@media screen and (max-width:576px){
    body{
        width: 100%;
    }
/* header */
.header-section{
    text-align: center;
}
.navbar{
    flex-direction: column;
    justify-content: center;
}
nav ul{
    flex-direction: column;
}
nav li{
    margin: 0;
}
/* .top-banner{
scale: 0.7;
margin-top: -150px;
} */
.banner-tittle{
    width: 80%;
}
.banner-image img{
    width: 80%;
}
/* feature-section */
.feature-section{
    margin: 20px;
    flex-direction: column;
}
.feature-image{
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
}
.feature-image img{
    /* width: 80%; */
    scale: 0.8;
}
/* feature-section-two */
.feature-section-two{
    flex-direction: column;
    margin: 20px;
    gap: 10px;

}
.section-two-text{
    width: 90%;
}
.section-two-image{

    align-items: center;
}
.section-two-image img{
    width: 90%;
}
.experience-button{
    scale: 0.6;
    padding: 10px;
    bottom: 0;
    right: 0;
    
}
/* fact-section */
.fact-section{
    margin: 20px;

}
.fact-section-text{
    margin: 20px;
width: 100%;
}
.facts-scenario{
    flex-direction: column;
    gap: 30px;
}

}
/* sponsor-section */
.sponsor-section{
    margin: 20px;

}
.sponsor{
    flex-direction: column;
}
/* send-message */
.send-message{
    margin: 20px;

}
input{
    width: 80%;
}
textarea{
    width: 80%;
}
/* footer */
footer{
    margin: 10px 15px;
    width: 90%;
    padding: 10px;
}
}